#homepage-background {
  background: linear-gradient(rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 1)),
    url("images/sunset-3875817_1920.jpg") no-repeat center top fixed;
  height: 900px;
}

#logo-image-homepage {
  width: 250px;
}
