{% extends "base.html" %}
<!--  -->
{% block title %}Login{% endblock %}
<!--  -->
{% block main_content %}
<div
  class="container text-center position-fixed top-50 start-50 translate-middle"
>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="/login" method="POST">
        {{form.hidden_tag()}}
        <!--  -->
        {% for field in form if field.widget.input_type !='hidden' %}
        <div>
          {{field.label(class_="form-label")}} {{field(class_="form-control")}}
          <!--  -->
          {% for error in field.errors %}
          <div><small class="text-danger">{{error}}</small></div>
          {% endfor %}
        </div>
        {% endfor %}
        <!--  -->
        <button class="btn btn-primary m-3">Submit</button>
      </form>
      <a href="/"><button class="btn btn-secondary">Cancel</button></a>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
