{% extends "base.html" %}
<!--  -->
{% block title %}New User Registration{% endblock %}
<!--  -->
{% block main_content %}
<div>
  <form method="POST">
    {{form.hidden_tag()}}
    <!--  -->
    {% for field in form if field.widget.input_type !='hidden' %}
    <div>
      {{field.label}} {{field}}
      <!--  -->
      {% for error in field.errors %}
      <div>{{error}}</div>
      {% endfor %}
    </div>
    {% endfor %}
    <!--  -->
    <label for="confirm-password-input">CONFIRM PASSWORD:</label>
    <input
      type="password"
      name="confirm-password-input"
      id="confirm-password-input"
    />
    <button>Submit</button>
  </form>
  <a href="/"><button>Cancel</button></a>
</div>
{% endblock %}
