{% extends "base.html" %}
<!--  -->
{% block title %}Site Search{% endblock %}
<!--  -->
{% block main_content %}
<div
  id="search-by-borough-form"
  class="container text-center position-static mt-3"
>
  <form>
    <div class="row g-3 align-items-center justify-content-center">
      <p>Search by borough:</p>
      <div class="col-auto">
        <label for="borough-input" class="col-form-label">Borough</label>
      </div>
      <div class="col-auto">
        <select name="borough-input" id="borough-input" class="form-select">
          <option value=""></option>
          <option value="Bronx">The Bronx</option>
          <option value="Brooklyn">Brooklyn</option>
          <option value="Manhattan">Manhattan</option>
          <option value="Queens">Queens</option>
          <option value="Staten Island">Staten Island</option>
        </select>
      </div>
    </div>
    <button id="borough-search-button" class="btn btn-secondary btn-lg my-3">
      Submit
    </button>
  </form>
  <button id="advance-search-button" class="btn btn-outline-secondary btn-sm">
    Advanced Search
  </button>
</div>
<div id="advanced-search-form" class="d-none container position-static">
  <button
    id="basic-search-button"
    class="btn btn-outline-secondary btn-sm mt-3"
  >
    <i class="bi bi-reply-fill"></i> Back To Basic Search
  </button>
  <p></p>
  <form>
    <div class="row">
      <div class="col">
        <label for="site-name-input" class="form-label">Site Name</label>
        <input
          type="text"
          name="site-name-input"
          id="site-name-input"
          class="form-control"
        />
      </div>
      <div class="col">
        <label for="zip-code-input" class="form-label">Zip Code</label>
        <input
          type="text"
          name="zip-code-input"
          id="zip-code-input"
          class="form-control"
        />
      </div>
      <div class="col">
        <h6>Available Products</h6>
        <div class="form-check form-switch">
          <input
            type="checkbox"
            name="male-condoms-input"
            id="male-condoms-input"
            class="form-check-input me-0"
          />
          <label for="male-condoms-input" class="form-check-label"
            >Male Condoms</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            type="checkbox"
            name="female-condoms-input"
            id="female-condoms-input"
            class="form-check-input"
          />
          <label for="female-condoms-input" class="form-check-label"
            >Female Condoms</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            type="checkbox"
            name="lubricant-input"
            id="lubricant-input"
            class="form-check-input"
          />
          <label for="lubricant-input" class="form-check-label"
            >Lubricant</label
          >
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input
            type="checkbox"
            name="open-now-input"
            id="open-now-input"
            class="form-check-input"
          />
          <label for="open-now-input" class="form-check-label">Open Now</label>
        </div>
      </div>
      <button id="advanced-submit-button" class="btn btn-lg btn-secondary my-3">
        Submit
      </button>
    </div>
  </form>
</div>
<div id="search-results-div" class="container mt-5">
  <div id="search-results-list" class="row"></div>
</div>
{% endblock %}
