{% extends "base.html" %}
<!--  -->
{% block title %}{{site.name}} Details{% endblock %}
<!--  -->
{% block main_content %} {{site.name}} {{site.address}} {% if g.user %}
<a href="/sites/{{site.id}}/comments"><button>New Comment</button></a>
{% if g.user in site.fav_users %}
<!-- <form action="/sites/{{site.id}}/favorite/delete" method="POST"> -->
<button id="site-page-unfav-btn" data-site-id="{{site.id}}">Un-Favorite</button>
<button id="site-page-fav-btn" data-site-id="{{site.id}}" hidden>
  Favorite
</button>
<!-- </form> -->
{% else %}
<!-- <form action="/sites/{{site.id}}/favorite" method="POST"> -->
<button id="site-page-fav-btn" data-site-id="{{site.id}}">Favorite</button>
<button id="site-page-unfav-btn" data-site-id="{{site.id}}" hidden>
  Un-Favorite
</button>
<!-- </form> -->
{% endif %} {% endif %}

<h1>Details</h1>

<div id="map" style="width: 400px; height: 300px"></div>
<script>
      mapboxgl.accessToken = {{mapboxAccessToken | tojson}}
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v11",
      center: [{{site.longitude}}, {{site.latitude}}],
      zoom: 13,
    });

  const marker = new mapboxgl.Marker()
  .setLngLat([{{site.longitude}}, {{site.latitude}}])
  .setPopup(new mapboxgl.Popup().setHTML('<h4>{{site.name}}</h4><p>{{site.address}}</p>'))
  .addTo(map);
</script>

<p>
  Name: {{site.name}} <br />
  Location Type: {{site.partner_type}} ({{site.partner_type_detailed}}) <br />
  Address: {{site.address}} <br />
  Borough: {{site.borough}} <br />
  Zip Code: {{site.zip_code}} <br />
  Phone Number: {% if site.phone %}<a href="tel:{{site.phone}}"
    >{{site.phone}}</a
  >
  {% endif %}<br />
  Website: {% if site.website %}
  <a href="{{site.website}}" target="_blank" rel="noopener noreferrer"
    >{{site.name}}</a
  >
  {% endif %}<br />
</p>
<h4>Hours</h4>
<ul>
  <li>Sunday: {{site.sunday}}</li>
  <li>Monday: {{site.monday}}</li>
  <li>Tuesday: {{site.tuesday}}</li>
  <li>Wednesday: {{site.wednesday}}</li>
  <li>Thursday: {{site.thursday}}</li>
  <li>Friday: {{site.friday}}</li>
  <li>Saturday: {{site.saturday}}</li>
</ul>
<h4>Product Availability</h4>
<ul>
  <li>Male Condoms: {{site.condoms_male}}</li>
  <li>Female Condoms: {{site.fc2_female_insertive_condoms}}</li>
  <li>Lubricant: {{site.lubricant}}</li>
</ul>

<h1>Public Comments</h1>
{% for comment in site.comments|reverse %} {% if comment.private == False %}
<div>
  <h4>{{comment.username}}</h4>
  {{comment.content}} {% if comment.username == g.user.username %}
  <small
    ><a href="/comments/{{comment.id}}/update">Update</a>
    <!-- <form action="/comments/{{comment.id}}/delete" method="POST"> -->
    <button class="delete-comment-button" data-comment-id="{{comment.id}}">
      Delete
    </button>
    <!-- </form> --> </small
  >{% endif %}
</div>
{% endif %} {% endfor %} {% if g.user %}
<h1>My Private Comments</h1>
{% for comment in site.comments|reverse %} {% if comment.private == True and
comment.username == g.user.username%}
<div>
  <h4>{{comment.username}}</h4>
  {{comment.content}}<br />
  <small>Note: This comment is private.</small>
  <small
    ><a href="/comments/{{comment.id}}/update">Update</a>
    <!-- <form action="/comments/{{comment.id}}/delete" method="POST"> -->
    <button class="delete-comment-button" data-comment-id="{{comment.id}}">
      Delete
    </button>
    <!-- </form> -->
  </small>
</div>
{% endif %} {% endfor %} {% endif %}

<div id="similar-locations-div">
  <h1>Similar Locations</h1>
  <button id="hide-similar-button" hidden>Hide Similar Locations</button>
  <form id="similar-location-form">
    <input
      name="similar-zip-code-input"
      id="similar-zip-code-input"
      value="{{site.zip_code}}"
      hidden
    />
    <input
      name="similar-mc-input"
      id="similar-mc-input"
      value="{{site.condoms_male}}"
      hidden
    />
    <input
      name="similar-fc-input"
      id="similar-fc-input"
      value="{{site.fc2_female_insertive_condoms}}"
      hidden
    />
    <input
      name="similar-lubricant-input"
      id="similar-lubricant-input"
      value="{{site.lubricant}}"
      hidden
    />
    <button id="similar-locations-button">See Similar Locations</button>
  </form>
  <ul id="similar-locations-list" hidden></ul>
</div>
{%endblock %}
