{% extends "base.html" %}
<!--  -->
{% block title %}Delete Your Profile{% endblock %}
<!--  -->
{% block main_content %}
<div>
  <p>
    In order to delete your account, please confirm your username and password.
  </p>
  <form method="POST">
    {{form.hidden_tag()}}
    <!--  -->
    {% for field in form if field.widget.input_type !='hidden' %}
    <div>
      {{field.label}} {{field}}
      <!--  -->
      {% for error in field.errors %}
      <div>{{error}}</div>
      {% endfor %}
    </div>
    {% endfor %}
    <!--  -->
    <button>Submit</button>
  </form>
  <a href="/users/{{user.username}}"><button>Cancel</button></a>
</div>
{% endblock %}
